#colors{
    display:flex;
    justify-content: center;

}
body { 
    /* no ragrets */
    background-image:url("Mucus\(Mucinex\).webp");
    color:orange;
}
#input {
    display:flex;
    flex-direction: column;
}
#positioning{
    display:flex;
    justify-content: center;
}
#mood{
    display:flex;
    justify-content: center;
}
#color1{
    width:100px;
    height: 100px;
}
#color2{
    width:100px;
    height: 100px;
}
#color3{
    width:100px;
    height: 100px;
}
#color4{
    width:100px;
    height: 100px;
}
#color5{
    width:100px;
    height: 100px;
}
.color{
    border:2px solid black;
}
@media screen and (max-width: 500px){
    #colors{
        flex-wrap:wrap;
    }
    #color1{
        flex-basis:35%;
    }
    #color2{
        flex-basis:35%;
    }
    #color3{
        flex-basis:35%;
    }
    #color4{
        flex-basis:35%;
    }
    #color5{
        flex-basis:35%;
    }
}


.center {
    display:flex;
    align-items: center;
    flex-direction: column;


}